.circle {
  height: 18px;
  width: 18px;
  border-radius: 18px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

/* Esconder o cursor padrão */
body {
  cursor: none;
}

/* Tornar invisível também em elementos clicáveis */
a, button, input, textarea, select {
  cursor: none !important;
}
